@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-vert-center {
	@apply flex items-center justify-center;
}

.title-italic {
	@apply font-normal italic;
}

@layer base {
	html {
		/* make overflow scrolling look better */
		/* i.e. use same color as navbar & footer */
		@apply bg-grey;
		scroll-behavior: smooth;
	}

	body {
		@apply xl:text-lg;
		/* keep overflow scrolling background color because of position:fixed header */
	}

	body::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		/* darken the background image with a semi-opaque black gradient */
		background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
			url('$lib/assets/pages/home/background_blended.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-blend-mode: normal;
	}

	body>* {
		/* revert overflow scrolling background color */
		@apply bg-white;
	}

	p>a {
		@apply underline hover:no-underline;
	}

	h1 {
		@apply py-6 font-roman text-4xl font-bold tracking-tighter md:text-5xl xl:text-7xl;
	}

	h2 {
		@apply py-4 text-xl md:text-2xl xl:text-4xl;
	}

	h3 {
		@apply text-sm md:text-lg xl:text-xl;
	}

	b {
		@apply font-bold;
	}

	i {
		@apply italic;
	}
}

/* must be defined globally so it can be used in @apply */
.side-padding {
	@apply px-4 sm:px-8 md:px-28 lg:px-60 2xl:px-96;
}

@layer components {
	.main {
		@apply px-2 sm:px-4;
		@apply py-12;
		@apply text-base xs:text-lg;
	}

	.fa {
		@apply flex items-center gap-2;
	}

	.page-section {
		@apply side-padding grid gap-3 px-8 text-center text-white md:text-lg xl:text-xl;
	}

	/* horizontal chips (no wrap, attached) */
	/* e.g.: ( alpha | beta | gamma ) */

	.horizontal-chips {
		@apply flex justify-center gap-1 overflow-x-auto;
	}

	.horizontal-chips button {
		@apply px-2 py-1 transition-colors;
	}

	.horizontal-chips button:nth-of-type(1) {
		@apply rounded-l-full pl-4;
	}

	.horizontal-chips button:nth-last-of-type(1) {
		@apply rounded-r-full pr-4;
	}

	.horizontal-chips button[aria-pressed='true'] {
		@apply bg-indigo-600 text-white;
	}

	.horizontal-chips button[aria-pressed='false'] {
		@apply bg-white/5 text-white/70;
	}

	/* wrapping chips (wrap, not attached) */
	/* e.g.: ( alpha ) ( beta ) ( gamma ) */

	.wrapping-chips {
		@apply flex flex-row flex-wrap justify-center gap-4;
	}

	.wrapping-chips button {
		@apply rounded-full px-4 py-2 text-xs font-medium transition-all sm:text-sm;
	}

	.wrapping-chips button[aria-pressed='false'] {
		@apply bg-white/10 text-white/80 hover:bg-white/20 hover:text-white;
	}

	.wrapping-chips button[aria-pressed='true'] {
		@apply bg-indigo-600 text-white shadow-md;
	}
}
